.collection {
    
    
    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        
    }
    
    &__item {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin-bottom: 160px;
        
    }
    
    &__item:nth-child(2n) {
        flex-direction: row-reverse;
        
    }
    
    
    
    &__item::before {
        content: "";
        display: inline-block;
        width: 445px;
        height: 445px;
        background-color: $light-grey;
        border-radius: 50%;
        position: absolute;
        right: 0;
        left: calc(100% + 64px);
        
    }
    
    &__item:nth-child(2)::before{
        content: "";
        display: inline-block;
        width: 445px;
        height: 445px;
        background-color: $light-grey;
        border-radius: 50%;
        position: absolute;
        left: 0;
        right: 0;
        transform: translate(calc(-100% - 64px));
        
    }
    
    &__item:nth-child(1)::after {
        content: "";
        display: inline-block;
        width: 740px;
        height: 150px;
        position: absolute;
        bottom: 0;
        left: 49%;
        background-image: url("./../../images/collection-left-line.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        
    }
    
    &__item:last-child::after {
        content: "";
        display: inline-block;
        width: 740px;
        height: 150px;
        position: absolute;
        top: 20%;
        left: 83%;
        background-image: url("./../../images/collection-left-line.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        
    }
    &__item:nth-child(2)::after {
        content: "";
        display: inline-block;
        width: 740px;
        height: 150px;
        position: absolute;
        top: 0;
        right: 70%;
        background-image: url("./../../images/hero-line.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        
    }
    
    
    &__heading {
        max-width: 445px;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.14286px;
        color: $dark-navy;
        margin-bottom: 24px;
        
    }
    
    &__text {
        max-width: 445px;
        font-family: 'Lexend Deca';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        color: $dim-grey;
        margin-bottom: 40px;
        
    }
    
    &__button {
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: $snow;
        background-color: $yellow;
        padding: 14px 44px;
        border: none;
    }
    
    &__button:active {
        background-color: $light-grey;
        color: $yellow;
        border: 1px solid $yellow;
    }
    
    &__img {
        width: 445px;
        height: 445px;
        border-radius: 50%;
        
    }
    
}

