.footer {
    background-image: url("./../../images/footer-img.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 220px) calc(50% + 17px);
    background-color: $dark-navy;
    margin-bottom: 400px;
    
    
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 102px 0;
        border-radius: 4px;
        
    }
    
    &__heading {
        font-weight: 700;
        font-size: 48px;
        line-height: 48px;   
        letter-spacing: -2.14286px;
        color: $snow;
        
    }
    
    
    &__list {
        display: flex;
        align-items: center;
        padding-left: 0;
        margin: 0;
        list-style-type: none; 
        
        
    }
    
    &__item {
        background-color: $snow;
        display: flex;
        align-items: center;
        padding: 9px 16px;
        border-radius: 4px;
        margin-right: 18px;
    }
    
    &__item:last-child{
        margin: 0;
    }
    
    &__apple-img {
        margin-right: 12px;
    }
    
    
    &__text {
        font-weight: 700;
        font-size: 10px;
        line-height: 15px;
        margin: 0;
        letter-spacing: -0.446429px;
        color: $dim-grey;
        
    }
    
    
    &__textt{
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        margin: 0;
        letter-spacing: -0.892857px;
        color: $dark-navy;
    }
    
    &__wrapper {
        display: flex;
        align-items: center;
        background-color: #333A44;
        padding: 36px 0;
        justify-content: space-between;
        
    }
    &__logo-link {
        
    }
    
    
    &__wrapper__heading{
        width: 100%;
        max-width: 415px;
    }
    
    &__container-img {
        margin-right: 59px;
    }
    
    &__wrapper-nav {
        
    }
    
    &__wrapper-list {
        display: flex;
        align-items: center;
        gap: 32px;
    }
    
    &__wrapper-item {
    }
    
    
    &__wrapper-link {
        font-family: 'Space Mono';
        font-style: normal;
        text-decoration: none;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        color: $dim-grey;
    }
    &__wrapper-link:hover {
        color: $yellow;
        opacity: 0.8;
    }
    
    &__list-end {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-left: 571px;
    }
    
    &__item-end {
        
    }
    
    &__end-img {
        
    }
    &__end-img:hover {
        background-color: $snow;
        opacity: 0.8;
    }
    
}
.footer__bootom{
    background-color: #333A44;
}
