.header {
    
    &__container {
        display: flex;
        align-items: center;
        padding: 34px 0;
        
    }
    
    &__img {
        margin-right: 58px;
        
    }
    
    &__nav {
        margin-right: auto;
        
    }
    
    &__list {
        display: flex;
        align-items: center;
        gap: 32px;
        
    }
    
    
    &__item-link {
        font-family: 'Space Mono';
        font-style: normal;
        text-decoration: none;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        color: $dim-grey;
        
    }
    &__item-link:hover {
        color: $yellow;
        opacity: 0.8;
        
    }
    
    &__button {
        width: 180px;
        background: $yellow;
        text-decoration: none;
        font-family: 'Space Mono';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: $snow;
        padding: 14px ;
    }
    
    &__button:hover {
        background-color: $light-grey;
        border: 3px solid $yellow;
        color: $yellow;
        opacity: 0.8;
    }
    
    &__button:active {
        color: $yellow;
        opacity: 0.8;
    }
    
    .button{
        display: none;
        background-color: transparent;
        border: none;
        padding: 0;
    }
    
    
    
}

@media  only screen and(max-width:643px) {
    .header__button{
        padding: 8px 4px;
        width: 120px;
        font-size: 12px;
    }
    .header__img{
        margin-right: 30px;
    }
    
    .header__item-link{
        font-size: 12px;
    }
    
    &__list {
        gap: 20px;  
    }
    
}

@media  only screen and(max-width:520px) {
    
    .header {
        
        &__list {
            display: none;
            
        }
        
        &__button {
            display: none;         
        }
        
        .button{
            display: block;
            margin-right: 100px;
        }
        
        .header__img{
            margin: 0 auto;
            
        }
        
        .menu{
            display: none;
        }    
        
    }
}

